.list-rooms {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  .subtitle {
    padding: 0 10px;
    font-size: 0.9rem;
  }
  .scroll {
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  } 
}
