.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--background-light);
    padding: 30px 20px;
    background: var(--background-light);
    box-shadow: 0 0 4px var(--text-light);
    border-radius: 4px;
    min-width: 300px;
    img {
      height: 60px;
      margin-bottom: 1.4rem;
    }
    span {
      color: var(--text-dark);
      font-size: 1.4rem;
      font-weight: 900;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      margin: 0.4rem 0 1.4rem 0;
      .input {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          flex: 1;
          text-align: left;
          font-size: 0.9rem;
          font-weight: 600;
          padding: 4px 8px 2px 8px;
        }
        input {
          border: 1px solid var(--text-light);
          border-radius: 4px;
          padding: 8px 12px;
          outline: none;
        }
        &::before {
          content: '';
          position: absolute;
          background: var(--primary);
          bottom: 0;
          left: 5px;
          transition-duration: 0.3s;
          height: 0;
          width: 0;
        }
        &:focus-within::before{
          height: 2px;
          width: calc(100% - 10px);
        }
      }
      button {
        margin-top: 10px;
        border: none;
        background: var(--primary);
        color: var(--text-light);
        font-size: 0.9rem;
        font-weight: 800;
        padding: 0.6rem;
        border-radius: 4px;
        transition-duration: 0.3s;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
    a {
      margin: 0 auto;
      color: var(--primary);
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
}